@tailwind base;
@tailwind components;

@tailwind utilities;

@layer base {
  @font-face {
    font-family: "HelveticaNeue";
    src: local("HelveticaNeue"),
      url("./Fonts/HelveticaNeue.ttc") format("truetype");
  }
  @font-face {
    font-family: "HelveticaNeuBold";
    src: local("HelveticaNeuBold"),
      url("./Fonts/HelveticaNeuBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "HelveticaNeueMedium";
    src: local("HelveticaNeueMedium"),
      url("./Fonts/HelveticaNeueMedium.ttf") format("truetype");
  }
  @font-face {
    font-family: "HelveticaNeueLight";
    src: local("HelveticaNeueLight"),
      url("./Fonts/HelveticaNeueLight.ttf") format("truetype");
  }
}

@layer components {
  .inputField {
    @apply mb-2 w-[100%] pl-4 pr-12 rounded-md h-12 border-[1px] text-base  border-borderGray focus:border-[2px]    focus:border-borderGray outline-borderGray outline-0;
  }
  .inputField2 {
    @apply mb-2 w-[calc(50%-28px)] pl-4 pr-12 rounded-md h-12 border-[1px] text-base border-borderGray focus:border-[2px] focus:border-borderGray outline-borderGray outline-0;
  }
  .inputFieldValid {
    @apply mb-2 w-[100%] pl-4 pr-12 rounded-md h-12 border-[1px] text-base border-greenElement focus:border-[2px] focus:border-borderGray outline-borderGray outline-0;
  }
  .inputFieldValid2 {
    @apply mb-2 w-[calc(50%-28px)] pl-4 pr-12 rounded-md h-12 border-[1px]  border-greenElement focus:border-[2px] focus:border-borderGray outline-borderGray outline-0;
  }
  .inputFieldError {
    @apply mb-2 w-[100%] pl-4 pr-12 rounded-md h-12 border-[1px]  border-redElement focus:border-[2px] focus:border-borderGray outline-borderGray outline-0;
  }
  .inputFieldError2 {
    @apply mb-2 w-[calc(50%-28px)] pl-4 pr-12 rounded-md h-12 border-[1px]  border-redElement focus:border-[2px] focus:border-borderGray outline-borderGray outline-0;
  }
  .inputIconValid {
    @apply w-[18px] h-[18px] box-content absolute pr-[15px] mb-[9px];
  }
  .inputIconError {
    @apply w-[18px] h-[18px] box-content absolute mb-[9px] desktop:mr-[-30px] laptop:mr-[-25px] laptop:pr-[0px] pr-[15px];
  }
  .inputIconHidden {
    @apply w-[18px] box-content h-[18px] relative right-9 mb-[9px]  hidden;
  }
  .wrapper {
    @apply flex flex-col w-[100%] mb-8;
  }
  .labelText {
    @apply flex w-[100%] mb-2 text-base font-semibold text-black;
  }
  .labelTextError {
    @apply flex w-[100%] mb-2 text-base font-semibold text-[rgba(239,80,80,1)];
  }
  .hintText {
    @apply text-base font-normal text-[rgba(46,46,46,1)];
  }
}
